body{
    background-color: rgb(240,240,240);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.one{
    width: 100%;
    height: 90vh;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#main{
    display: flex;
}
#first h1{
    font-size: 60px;
    color: #177bf2;
    margin-left: -12%;
    margin-top: 25%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
#first p{
    color: #1c1e21;
    margin-top: -25px;
    margin-left: 18%;
    font-size: 25px;
    font-weight: 500;
    line-height: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    letter-spacing:1px;
}
#minor {
    background-color: white;
    width: 65%;
    height: 60%;
    border-radius: 15px;
    margin-left: 30px;
}
#second{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
#form{
    padding: 15px;
}
input[type=text]{
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(223,227,238);
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 13px;
    padding-left: 15px;
}
input[type=password]{
    width: 95%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgb(223,227,238);
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 13px;
    padding-left: 15px;
};
#link{font-size: 140px;
    font-weight: 300;
    margin-left: 30%;
    text-decoration: none;
    color: #1877f2;
    font-family: Helvetica, Arial, sans-serif;
}
a:hover{
    text-decoration: underline;
}
#line{
    width: 98%;
    height: 2px;
    background-color: rgb(223,227,238);
    border-radius: 5px;
    margin-top: 40px;
}
#btn2{
    padding: 13px 18px;
    margin-top: 20px;
    margin-left: 25%;
    border-radius: 10px;
    color: white;
    background-color: #42b728;
    border: 1px solid #42b728;
    font-size: 17px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}
#btn1{
    padding: 13px 5px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0%;
    border-radius: 10px;
    color: white;
    background-color: #1877f2;
    border: 1px solid #1877f2;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

#last{
    color: #1c1e21;
    font-size: 14px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    margin: -175px 15% 0px;
}
.link{
    font-size: 14px;
    font-weight: 300;
    margin-left: 35%;
    text-decoration: none;
    color: #1877f2;
    font-family: Helvetica, Arial, sans-serif;   
}

@media (max-width: 1400px) {
    #minor{
        height: auto;
        padding-bottom: 1.5rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1000px) {
    #minor{
        width: auto;
        margin-bottom: 4rem;
    }
    #first h1{
        font-size: 3.5rem;
        margin-left: 1.5rem;
    }
    #last{
        width: 25rem;
    }
}

@media (max-width: 800px) {
    #main{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    #first{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        margin-top: -10rem;
        padding: 0;
    }
    #first h1{
        font-size: 5rem;
        padding-top: 1rem;
    }
    #first p{
        margin: 0;
        padding: 0;
        margin-top: -2rem;
        margin-left: 2rem;
    }
    #second{
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: -8rem;
    }
    input[type=password]{
        height: 2rem;
    }
    input[type=text]{
        height: 2rem;
    }
    #minor{
        width: 80%;
        margin-left: 10%;
    }
    #last{
        margin: 0;
        margin-left: 32%;
        margin-top: -5rem;
    }
    #btn2{
        margin-left: 35%;
    }
    .link{
        margin-left: 40%;
    }
}

@media (max-width: 550px) {
    #first h1{
        font-size: 3.5rem;
        margin-top: 10rem;
    }
    #first p{
        font-size: 1.2rem;
    }
    #btn2{
        margin-left: 32%
    }
    #second{
        margin-top: -10rem;
    }
    #minor{
        width: 100%;
        margin-left: 0;
    }
    #last{
        margin: 0;
        margin-left: 23%;
        margin-top: -8rem;
    }
 
}